 * {
      margin:0px;
      padding:0px;
    }
    

    ul, ol {
      list-style:none;
    }

    .nav > li {
      float:left;
    }

    .nav li a {
      background-color:#009999;
      color:#fff;
      text-decoration:none;
      padding:8px 12px;
      display:block;

    }

    .nav li ul a:hover {
      background-color: white;
    }

    .nav li ul {
      display:none;
      position:absolute;
      min-width:180px;
      z-index: 1000;
    }

    .nav li:hover > ul {
      display:block;
    }

    .nav li ul li {
      position:relative;
    }

    .nav li ul li ul {
      right:-290px;
      top:0px;
    }
    .margen{
      padding-left: 80px;
    }